{% block content_header_more %}
    <li>logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('logout') }}">Logout</a></li>
{% endblock %}

<h1>Hola admin! </h1> 
